<h1>hello world!</h1>
<p>testando</p>
<a href="#">clique aqui!</a>

<app-first-component></app-first-component>
<app-second-component></app-second-component>
<app-teste-consolidacao></app-teste-consolidacao>
<app-parent-data [name]="userName" [age]="userAge" [job]="userJob" [userData]="userData"></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<app-emitter></app-emitter>
<app-frutas-lista></app-frutas-lista>
<app-list-render></app-list-render>
